*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
    box-sizing: border-box;
}

/* background */
.bg-one{
    background-color: #303481;
}
.bg-second{
    background-color: #FFF200;
}
.bg-second-alternative{
    background-color: #D6E6F2;
}

/* button */
.btn-second{
    background-color: #FFF200;
    color: #111111;
    font-weight: bold;
}

/* navbar */
.active{
    border-radius: 10px;
    color: white!important;
}
.border-radius{
    border-radius: 10px;
}

/* image */
.img-icon{
    width: min(100%, 125px);
}.img-banner{
    width: min(100%, 475px);
}
.icon-number{
    width: min(100%, 40px);
}

/* font size */
.f-24{
    font-size: 1.5rem;
}
.f-20{
    font-size: 1.4rem;
}
.f-16{
    font-size: 1rem;
}
.font-color-primary{
    color: #303481;
    font-weight: bold;
}
.font-color-second{
    color: #FFF200;
    font-weight: bold;
}
.font-color-default{
    color: #111111;
    font-weight: bold;
}
.font-color-default-w{
    color: #F5F5F5;
}
.default-spacing-text{
    letter-spacing: 0.18rem;
    line-height: 40px;
}

/* other */

/* banner */
.card{
    background-color: transparent!important;
    border: none;
}
.banner-text{
    text-align: center;
    letter-spacing: 0.18rem;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 600;
}
.banner-text-2{
    text-align: justify;
    letter-spacing: 0.2rem;
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
}

/* icon */
.icon-link{
    text-decoration: none;
}
.icon-link:hover{
    background-color: #1a1c47;
}

sm:img>.img-icon{
    width: 50px;
}